/*Custom Styles*/
.site_header {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    box-shadow: 0px 0px 9px 0px rgba(180, 180, 180, 0.75);
    float:left;
    width: 100%;
    z-index: 999;
    background: #fff;
	
}
.logo{padding:20px 0;}
.section{float:left;width:100%;}
.uploadcol{
	margin: 50px 0;
    padding: 25px;
}
.uploadcol h2{font-size:20px;margin-bottom:25px;}
.uploadcol .submit{padding:10px 35px;}
.uploadcol p{}
.uploadcol label{}
.fw{float:left;width:100%;}
#shipmentdata{display:inline-block;}
.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
	height:50px;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.download{
	    max-width: 100px;
    display: block;
    margin: 0 auto;
}
.blue_btn{
    background: #096dd4;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
	margin-top: 15px;
    display: inline-block;
}
.goback{background:none;border:1px solid #D9534F;color:#D9534F;margin-bottom:20px;padding: 7px 20px;display:block;}
.rbg{background:none;border:0;}
/*preloader*/
#preloader  {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(6, 6, 6, 0.68);
     z-index: 99;
    height: 100%;
 }

#status  {
     width: 200px;
     height: 200px;
     position: fixed;
     left: 50%;
     top: 50%;
     background-image: url('images/preload_1.gif');
     background-repeat: no-repeat;
     background-position: center;
     margin: -100px 0 0 -100px;
 }
 .show_loader{display:block;}